<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DemoApp_ServletContext_ServletConfig</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>anyname</servlet-name>
		<servlet-class>com.hariom.AddServlet</servlet-class>
		<!-- local 2. key value inside servlet not for other servlet , access via ServletCOnfig-->
		<init-param>
			<param-name>name</param-name>
			<param-value>Hariom Yadav</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>anyname</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>


	<!-- Global 1. Servlet context - key value is same for all servlet, its like global 
		, search context and ctrl + space , this value is access via ServletContext-->
	<context-param>
		<param-name>name</param-name>
		<param-value>Navin</param-value>
	</context-param>

</web-app>